<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="layout :: site-head"></head>
    <title>AceLab Stock - Start Page</title>
</head>

<body>
<head th:replace="layout :: site-header"></head>
<div class="container-fluid ml-1 mr-1 mt-1">
    <h1 style="text-align: center;">MainItem Add</h1>
    <form class="form-horizontal" action="#" th:action="@{/item/mainitem/add}" th:object="${mainItem}" method="post" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">MainItem name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="mainItem Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">mainItem Description:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="mainItem Description">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="subItemIds">SubItems:</label>
            <div class="col-sm-10 ">
                <select multiple class="form-control" id="subItemIds" name="subItemIds">
                    <option th:each="subitem: ${subItems}" th:text="${subitem.getName()}" th:value="${subitem.getId()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">mainItem Price:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="price" th:field="*{price}" placeholder="mainItem Price">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">MainItem Add</button>
            </div>
        </div>
        <div class="col-sm-2"></div><div th:replace="layout :: error_handling"/>
    </form>
</div>
<foot th:replace="layout :: site-footer"></foot>
</body>

</html>