<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="layout :: site-head"></head>
    <title>AceLab Stock - Start Page</title>
</head>

<body>
<head th:replace="layout :: site-header"></head>
<div class="container-fluid ml-1 mr-1 mt-1">
    <h1 style="text-align: center;">MainItem Show</h1>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr><th>ID</th><th>Name</th><th>Price</th><th>Actions</th></tr>
            </thead>
            <tbody>
                <tr th:each="mainItem: ${mainItems}">
                    <td th:text="${mainItem.getId()}" />
                    <td th:text="${mainItem.getName()}" />
                    <td th:text="${mainItem.getPrice()}" />
                    <td><a th:href="@{'/item/mainitem/edit'(id=${mainItem.getId()})}"><span class="glyphicon glyphicon-edit"></span></a>
                    <a th:href="@{'/item/mainitem/remove'(id=${mainItem.getId()})}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/item/mainitem/add}" class="btn btn-default" role="button" aria-pressed="true">MainItem Add</a>
    </div>
</div>
<foot th:replace="layout :: site-footer"></foot>
</body>

</html>