<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="layout :: site-head"></head>
    <title>AceLab Stock - Start Page</title>
</head>

<body>
<head th:replace="layout :: site-header"></head>
<div class="container-fluid ml-1 mr-1 mt-1">
    <h1 style="text-align: center;">SubItem Add</h1>
    <form class="form-horizontal" action="#" th:action="@{/item/subitem/add}" th:object="${subItem}" method="post" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">SubItem name:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control" id="name" name="name" placeholder="subItem Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">SubItem Description:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{description}" class="form-control" id="description" name="description" placeholder="subItem Description">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Price:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{price}"  class="form-control" id="price" name="price" placeholder="subItem Price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">subItem Add</button>
            </div>
        </div>
        <div class="col-sm-2"></div><div th:replace="layout :: error_handling"/>
    </form>
</div>
<foot th:replace="layout :: site-footer"></foot>
</body>

</html>