<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="layout :: site-head"></head>
    <title>AceLab Stock - Start Page</title>
</head>

<body>
<head th:replace="layout :: site-header"></head>
<div class="container-fluid ml-1 mr-1 mt-1">
    <h1 style="text-align: center;">Welcome to the AceLab Stock app</h1>
    <h3>Statistics</h3>
    There are:
    <ul>
        <li><a th:text="${stocksCount}"></a> stock(s)</li>
        <li><a th:text="${subItemsCount}"></a> subItem(s)</li>
        <li><a th:text="${mainItemsCount}"></a> mainItems(s)</li>
    </ul>
</div>
<foot th:replace="layout :: site-footer"></foot>
</body>

</html>